* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}

/* COMEÇO DA BARRA DE NAVEGAÇÃO */
.nav li{
	font-size: 150%;
	list-style: none;
	float: right;
	margin: 1.5% 1% 1% 1%;
}

.header-btn {
	text-decoration: none;
	color: darkcyan;
}

.header-btn:hover {
	color: DarkMagenta;
	padding: 10%;
	text-decoration: none;
}
/* FINAL DA BARRA DE NAVEGAÇÃO */


/* COMEÇO DA PARTE DE APRESENTAÇÃO - PRINCIPAL */
.apresentacao {
	margin-top: 5%;
	text-align: center;
	font-family: "Bree Serif", Helvetica, sans-serif;
	border-bottom: 2px solid darkcyan;
}

.apresentacao h1 {
	font-size: 350%;
	margin-bottom: 1%;
}

.apresentacao h2 {
	margin-top: 0;
	font-weight: normal;
	font-size: 200%;
}

.apresentacao a {
	font-size: 150%;
	background-color: green;
	color: #FFF;
	display: inline-block;
	padding: 5%;
	margin-top: 5%;
	margin-bottom: 0.5%;
	border-radius: 15px;
}

.apresentacao a:hover { 
	text-decoration: none;
	background-color: #CCC;
	color: green;
}

@media (min-width: 768px) {
	.apresentacao a {
		padding: 2%;
		margin-top: 3%;
	}
}
/* FINAL DA PARTE DE APRESENTAÇÃO - PRINCIPAL */


.chamativos {
	margin-top: 70px;
	margin-bottom: 70px;
	background-color: white;
}

article img {
	margin: 5px 0px;
	position: relative;
	left: 130px;
}

article {
	background-color: #f8feff;
	width: 340px;
	margin: 50px 27px;
	display: inline-block;
	border-top: 1px solid green;
}

article > p {
	color: green;
	font-size: 27px;
	font-family: "Bree Serif", sans-serif;
	word-spacing: 0.1em;
	line-height: 1.5em;
	border: 5px solid #4c2daa;
	height: 180px;
	width: 340px;
	padding: 5px 10px;
	text-align: center;
}

/* COMEÇO DOS PLANOS */
.plan {
	text-align: center;
	font-family: "Bree Serif", Helvetica, sans-serif;
	font-size: 150%;
	margin: 5% 0;
	padding: 3%;
	background-color: #f8feff;
	border-right: 2px solid darkcyan;
}

.plan li {
	padding: 1% 0;
	list-style: none;
	border-bottom: 1px solid green;
}

.plan h2 {
	font-size: 210%;
	background-color: #CCC;
	margin-top: 0;
}

.plan h3 {
	margin: 4% 0 4% 0;
	font-size: 180%;
}

.plan a {
	display: inline-block;
	margin-top: 3%;
	padding: 3%;
	background-color: darkcyan;
	color: #FFF;
}

.plan a:hover {
	text-decoration: none;
	background-color: #0e6400;
}

@media (max-height: 800px) {
	.plan {
		border-bottom: 5px solid #CCC;
		border-right: 0;
	}
}
/* FINAL DOS PLANOS */


.contact {
	font-family: "Roboto", serif;
	padding: 5px 0 2px 5px;
	font-size: 19px;
	font-weight: bold;
	width: 140px;
	color: DarkMagenta;
	border-bottom: 2px solid black;
	margin-bottom: 2px;
}

.img-cont {
	margin: 10px 5px;
}
