* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}

header {
	height: 440px;
	width: 1200px;
	margin: 0 auto;
	border-bottom: 1px solid black;
}

.cabeca li, footer li{
	display: inline;
}

.header-img {
	margin: 5px 10px 0px 10px;
}

.header-btn {
	text-decoration: none;
	margin: 20px 10px;
	padding: 5px;
	float: right;
	font-family: "Roboto", sans-serif;
	font-size: 17px;
}

.header-btn:hover {
	color: #CCC;
	text-decoration: underline;
}

.heading {
	text-align: center;
	font-family: "Bree Serif", serif;
	word-spacing: 0.3em;
}

.heading h1 {
	margin: 60px 0 40px 0;
	font-size: 65px;
	word-spacing: 0.3em;
}

.heading h2 {
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: normal;
}

.btn-cad {
	padding: 15px;
	color: white;
	font-size: 20px;
	border-radius: 30px;
	text-decoration: none;
	background-color: #20CB42;
	position: relative;
	top: 55px;
}

.btn-cad:hover {
	background-color: #CCC;
	color: green;
}

.chamativos {
	margin-top: 70px;
	margin-bottom: 70px;
	background-color: white;
}

article img {
	margin: 5px 0px;
	position: relative;
	left: 130px;
}

article {
	background-color: #f8feff;
	width: 340px;
	margin: 50px 27px;
	display: inline-block;
	border-top: 1px solid green;
}

article > p {
	color: green;
	font-size: 27px;
	font-family: "Bree Serif", sans-serif;
	word-spacing: 0.1em;
	line-height: 1.5em;
	border: 5px solid #4c2daa;
	height: 180px;
	width: 340px;
	padding: 5px 10px;
	text-align: center;
}

.plan {
	text-align: center;
	font-family: "Bree Serif", Helvetica, sans-serif;
	font-size: 150%;
	margin: 5% 0;
	padding: 3%;
	background-color: #f8feff;
	border-right: 2px solid darkcyan;
}

.plan li {
	padding: 1% 0;
	list-style: none;
	border-bottom: 1px solid green;
}

.plan h2 {
	font-size: 210%;
	background-color: #CCC;
	margin-top: 0;
}

.plan h3 {
	margin: 4% 0 4% 0;
	font-size: 180%;
}

.plan a {
	display: inline-block;
	margin-top: 3%;
	padding: 3%;
	background-color: darkcyan;
	color: #FFF;
}

.plan a:hover {
	text-decoration: none;
	background-color: #0e6400;
}

@media (max-height: 800px) {
	.plan {
		border-bottom: 5px solid #CCC;
		border-right: 0;
	}
}

.contact {
	font-family: "Roboto", serif;
	padding: 5px 0 2px 5px;
	font-size: 19px;
	font-weight: bold;
	width: 140px;
	color: DarkMagenta;
	border-bottom: 2px solid black;
	margin-bottom: 2px;
}

.img-cont {
	margin: 10px 5px;
}
