* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica, sans-serif;
}


/*******************\
 CABEÇALHO
\*******************/
.cabecalho__logo--letras {
	font-family: "Faster One", cursive;
	font-size: 50px;
}



/*******************\
 NAVEGAÇÃO
\*******************/
.navegacao {
}

.navegacao__menu {
	float: right;
}




/*******************\
 BOTÃO DE NAVEGAÇÃO
\*******************/
.botao-chaveador {
	background: none;
	border: 0;

	outline: none;
}

@media(min-width: 992px) {
	.botao-chaveador {
		display: none;
	}
}



/*******************\
 MENU DE NAVEGAÇÃO
\*******************/
.menu {
	margin: 0;

	font-family: "Raleway", Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.7rem;
	list-style: none;
}

@media(max-width: 991px) {
	.menu {
		position: fixed;
		z-index: 900;
		top: 65px;
		right: 1px;
		bottom: 0;

		display: none;
		height: 200px;
		width: 200px;
		margin: 0;

		border: 2px solid #eee;
		background-color: #fbfbfb;

		font-size: 1.4rem;
		text-align: center;

		list-style: none;
	}

	.menu__item{
		display: block;
		
		font-size: 1.9rem;
		line-height: 3;

		list-style: none;
	}

	.menu--exibindo {
		display: block;
	}
}

@media(min-width: 992px) {
	.menu__item {
		display: inline-block;
		padding: 0 20px;
	}

	.menu__botao--right {
		padding-right: 0;
	}
}

.fa {
	padding-right: 2px;
}

.menu__botao {
	text-decoration: none;
	font-size: 1.16em;

	color: black;
}

.menu__botao:hover {
	color: DarkMagenta;
	text-decoration: none;
}




/*******************\
 APRESENTAÇÃO
\*******************/
.apresentacao {
	color: #150F80;

	text-align: center;
	font-size: 2rem;
}

.apresentacao__titulo {
	letter-spacing: 0.1em;
	font-size: 3.8em;
	font-family: "Bree Serif", Helvetica, sans-serif;
}

.apresentacao__subtitulo {
	padding-bottom: 20px;

	font-family: "Raleway", Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.85em;
}

/*******************\
 MAPS
\*******************/
.titulo-maps{
	padding: 10px 0 0 10px;
	
	font-family: "Roboto Mono", Helvetica, sans-serif;
	font-size: 1.9em;

	color: darkMagenta;
}

#map {
	height: 300px;
}



