#pagina-principal {
	margin-top: 60px;

	background-image: url(../Images/background-planeta.jpg);
	background-size: cover;
	background-position: center;

}

.layout-cabecalho {
	height: 60px;
	line-height: 60px;

	background-color: rgba(92, 156, 171, 0.9);
}

.layout-cabecalho--home {
	position: fixed;
	top: 0;
	right: 0;
	left: 0; 
	z-index: 9999;
}

.layout-apresentacao {
	padding: 10% 0 9% 0;
}


@media(max-width: 767px) {
	.layout-apresentacao {
		padding: 5px 0 5px 0;
		margin-top: 6px;
	}
}

.layout-contato {
	width: auto;
	padding: 30px 0;
	margin: 25px 0;

	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 1.2em;

	background: url(../Images/header-bg.png) repeat center;
}

#map {
	height: 300px;
	width: 300px;
}

.layout-rodape {
	background-color: rgba(92, 156, 171, 0.9);
}
