.layout-cabecalho {
	height: 60px;
	line-height: 60px;

	background-color: #fff;
}

.layout-cabecalho--home {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 9999;
}

.layout-apresentacao {
	background-image: url(../Images/background-planeta.jpg);
	background-size: cover;
	background-position: center;

	padding: 5% 0;
}

.layout-features {
	margin-top: 50px;
}

.layout-objetivo {
	margin: 50px 0;
}

.layout-planos {
	margin: 5% 0;
}

.layout-assinatura {
	padding: 40px 0;
}

.layout-rodape {
	height: 90px;
	background: url(../Images/background-footer.jpg) right;
}
@media (max-height: 374px) {
	.layout-rodape {
		height: 110px;
		background: url(../Images/background-footer.jpg) right;
	}
}