* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	background-image: url("http://i.imgur.com/M1tUWHL.png");
	background-size: cover;
}

header {
	height: 440px;
	width: 1200px;
	margin: 0 auto;
	border-bottom: 1px solid white;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.cabeca li, footer li{
	display: inline;
}

.header-img {
	margin: 5px 10px 0px 10px;
}

.header-btn {
	text-decoration: none;
	margin: 20px 10px;
	padding: 5px;
	float: right;
	font-family: "Roboto", sans-serif;
	font-size: 17px;
	color: white;
}

.header-btn:hover {
	color: #CCC;
	text-decoration: underline;
}

.heading {
	text-align: center;
	color: white;
	font-family: "Bree Serif", serif;
	word-spacing: 0.3em;
}

.heading h1 {
	margin: 50px 0 30px 0;
	font-size: 65px;
	word-spacing: 0.3em;
}

.heading h2 {
	margin-bottom: 25px;
	font-size: 30px;
	font-weight: normal;
}

.btn-cad {
	padding: 15px;
	color: white;
	font-size: 20px;
	border-radius: 30px;
	text-decoration: none;
	background-color: #20CB42;
	position: relative;
	top: 50px;
}

.btn-cad:hover {
	background-color: #CCC;
	color: green;
}

.chamativos {
	margin-top: 70px;
	margin-bottom: 70px;
	background-color: white;
}

article img {
	margin: 5px 0px;
	position: relative;
	left: 130px;
}

article {
	background-color: #f8feff;
	width: 340px;
	margin: 50px 27px;
	display: inline-block;
	border-top: 1px solid green;
}

article > p {
	color: green;
	font-size: 27px;
	font-family: "Bree Serif", sans-serif;
	word-spacing: 0.1em;
	border: 5px solid #4c2daa;
	height: 180px;
	width: 340px;
	padding: 5px 10px;
	text-align: center;
}

.planos {
	height: 400px;
	background-color: white;
	margin: 100px 0px;
}

.planos::after {
	content: "";
	clear: both;
}

.plan {
	text-align: center;
	float: left;
	width: 370px;
	margin-right: 45px;
	height: 400px;
	background-color: #f8feff;
}

.plan h2{
	color: white;
	background-color: #4679AB;
	font-size: 38px;
	margin-bottom: 15px;
	font-family: "Bree Serif", sans-serif;
	letter-spacing: 0.05em;
}

.plan h3 {
	font-size: 34px;
	font-family: "Bree Serif", sans-serif;
	margin-bottom: 25px;
}

.plan li {
	list-style: none;
	margin: 3px 0;
	font-size: 18px;
	font-family: "Bree Serif", sans-serif;
}

.plan a {
	margin-top: 30px;
	text-decoration: none;
	padding: 16px 20px;
	display: inline-block;
	background-color: green;
	color: white;
	font-size: 18px;
}

.plan a:hover {
	padding: 24px 30px;
	background-color: #0e6400;
}


footer {
	background-color: white;
}

.contact {
	font-family: "Roboto", serif;
	padding: 5px 0 2px 5px;
	font-size: 19px;
	font-weight: bold;
	width: 140px;
	color: DarkMagenta;
	border-bottom: 2px solid black;
	margin-bottom: 2px;
}

.img-cont {
	margin: 10px 5px;
}
